body {
  color: #40514E;
  font-family: "Merriweather", serif;
  text-align: center;
  margin:0;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  padding-bottom: 10px;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
color: #EAF6F6;
}


hr{
  border: dotted 6px lightgray;
  width: 2%;
  border-bottom: none;
  margin-left: 100px auto;
}

p{
  line-height: 2;
}

.intro{
  width:30%;
  margin: auto;
}

.top-div{
  background-color: #E4F6F6;
  position:relative;
  padding-top: 100px;
}

.middle-container{
  margin:100px 0;
}


.p{
text-decoration: underline;
}

.firstcloud{
  position: absolute;
  right: 15%;
  top: 80px;
}

.secondcloud{
  position: absolute;
  left: 15%;
  bottom: 300px;
}

.image{
   width: 20%;
   float: left;
  margin-right: 30px;

}

.imagel{
  float: right;
    margin-left: 30px;
  width:20%;
}

.skill-row{

  width:30%;
  margin:50px auto 100px auto;
text-align: left;
}

.bottom-container{
    color: #66BFBF;
    background-color: #66BFBF;
    padding:50px 0 20px;
}

.footer-link{
  color: #11999E;
  margin-top: 90px;
  margin-bottom: 0;
  padding-top: 90px;
}

.footer{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}

.codep{
  text-align:left;
}

.contactmessage{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
   background: #11ECD4;
   background-image: -webkit-linear-gradient(top, #11ECD4, #11999E);
   background-image: -moz-linear-gradient(top, #11ECD4, #11999E);
   background-image: -ms-linear-gradient(top, #11ECD4, #11999E);
   background-image: -o-linear-gradient(top, #11ECD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11ECD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: "Montserrat", sans-serif;
   width: 200px;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4ED);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
